<div data-role="fieldcontain">
  <label for="description">Description:</label>
  <textarea name="description" id="description" data-bind="log.description">
  </textarea>
</div>
<div data-role="fieldcontain">
    <label for="customer">Customer:</label>
    <input type="text" name="customer" id="customer" value="" data-bind="log.customer" />
</div>
<div data-role="fieldcontain">
    <label for="started_at">Started at:</label>
    <input type="text" name="started_at" id="started_at" value="" data-bind="log.started_at" />
</div>
<div data-role="fieldcontain">
    <label for="ended_at">Ended at:</label>
    <input type="text" name="ended_at" id="ended_at" value="" data-bind="log.ended_at" />
</div>
<div data-role="fieldcontain">
  <input class="btn primary" name="commit" type="submit" value="Submit">
</div>